@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);








body,
input,
textarea,
.mbr-section-text,
.mbr-company .list-group-text,
.panel-body {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.alert,
.mbr-section-title,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn-sm,
.mbr-section-subtitle,
.mbr-cards .card-subtitle,
.nav-tabs .nav-link,
.mbr-testimonial .card-block,
.table th {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #f39c12 !important;
}
.bg-success {
  background-color: #ffd220 !important;
}
.bg-info {
  background-color: #ffd220 !important;
}
.bg-warning {
  background-color: #f1c40f !important;
}
.bg-danger {
  background-color: #ffd220 !important;
}
.btn-primary {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #f39c12;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #f5b043;
  border-color: #f5b043;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f5b043 !important;
  border-color: #f5b043 !important;
}
.btn-secondary {
  background-color: #ffd220;
  border-color: #ffd220;
  color: #f39c12;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #ffdc53;
  border-color: #ffdc53;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ffdc53 !important;
  border-color: #ffdc53 !important;
}
.btn-info {
  background-color: #ffd220;
  border-color: #ffd220;
  color: #f39c12;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #ffdc53;
  border-color: #ffdc53;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ffdc53 !important;
  border-color: #ffdc53 !important;
}
.btn-success {
  background-color: #ffd220;
  border-color: #ffd220;
  color: #f39c12;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #ffdc53;
  border-color: #ffdc53;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #ffdc53 !important;
  border-color: #ffdc53 !important;
}
.btn-warning {
  background-color: #f1c40f;
  border-color: #f1c40f;
  color: #f39c12;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #f4d03f;
  border-color: #f4d03f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #f4d03f !important;
  border-color: #f4d03f !important;
}
.btn-danger {
  background-color: #ffd220;
  border-color: #ffd220;
  color: #f39c12;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ffdc53;
  border-color: #ffdc53;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ffdc53 !important;
  border-color: #ffdc53 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ef970c;
  color: #ef970c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #fff;
  background-color: #f39c12;
  border-color: #f39c12;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #f39c12 !important;
  border-color: #f39c12 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffd016;
  color: #ffd016;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #fff;
  background-color: #ffd220;
  border-color: #ffd220;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #ffd220 !important;
  border-color: #ffd220 !important;
}
.btn-info-outline {
  background: none;
  border-color: #ffd016;
  color: #ffd016;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #fff;
  background-color: #ffd220;
  border-color: #ffd220;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #000000 !important;
  background-color: #ffd220 !important;
  border-color: #ffd220 !important;
}
.btn-success-outline {
  background: none;
  border-color: #ffd016;
  color: #ffd016;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #fff;
  background-color: #ffd220;
  border-color: #ffd220;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #ffd220 !important;
  border-color: #ffd220 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #e8bd0e;
  color: #e8bd0e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #f1c40f !important;
  border-color: #f1c40f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ffd016;
  color: #ffd016;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #fff;
  background-color: #ffd220;
  border-color: #ffd220;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #000000 !important;
  background-color: #ffd220 !important;
  border-color: #ffd220 !important;
}
.btn-primary.btn-text {
  color: #f39c12;
  background: none;
  border: none;
}
.btn-primary.btn-text:hover,
.btn-primary.btn-text:focus,
.btn-primary.btn-text.focus,
.btn-primary.btn-text:active,
.btn-primary.btn-text.active {
  color: #f5b043;
  background: none !important;
  border: none !important;
}
.btn-secondary.btn-text {
  color: #ffd220;
  background: none;
  border: none;
}
.btn-secondary.btn-text:hover,
.btn-secondary.btn-text:focus,
.btn-secondary.btn-text.focus,
.btn-secondary.btn-text:active,
.btn-secondary.btn-text.active {
  color: #ffdc53;
  background: none !important;
  border: none !important;
}
.btn-info.btn-text {
  color: #ffd220;
  background: none;
  border: none;
}
.btn-info.btn-text:hover,
.btn-info.btn-text:focus,
.btn-info.btn-text.focus,
.btn-info.btn-text:active,
.btn-info.btn-text.active {
  color: #ffdc53;
  background: none !important;
  border: none !important;
}
.btn-success.btn-text {
  color: #ffd220;
  background: none;
  border: none;
}
.btn-success.btn-text:hover,
.btn-success.btn-text:focus,
.btn-success.btn-text.focus,
.btn-success.btn-text:active,
.btn-success.btn-text.active {
  color: #ffdc53;
  background: none !important;
  border: none !important;
}
.btn-warning.btn-text {
  color: #f1c40f;
  background: none;
  border: none;
}
.btn-warning.btn-text:hover,
.btn-warning.btn-text:focus,
.btn-warning.btn-text.focus,
.btn-warning.btn-text:active,
.btn-warning.btn-text.active {
  color: #f4d03f;
  background: none !important;
  border: none !important;
}
.btn-danger.btn-text {
  color: #ffd220;
  background: none;
  border: none;
}
.btn-danger.btn-text:hover,
.btn-danger.btn-text:focus,
.btn-danger.btn-text.focus,
.btn-danger.btn-text:active,
.btn-danger.btn-text.active {
  color: #ffdc53;
  background: none !important;
  border: none !important;
}
.btn-black.btn-text {
  color: #000000;
  background: none;
  border: none;
}
.btn-black.btn-text:hover,
.btn-black.btn-text:focus,
.btn-black.btn-text.focus,
.btn-black.btn-text:active,
.btn-black.btn-text.active {
  color: #1a1a1a;
  background: none !important;
  border: none !important;
}
.btn-white.btn-text {
  color: #ffffff;
  background: none;
  border: none;
}
.btn-white.btn-text:hover,
.btn-white.btn-text:focus,
.btn-white.btn-text.focus,
.btn-white.btn-text:active,
.btn-white.btn-text.active {
  color: #ffffff;
  background: none !important;
  border: none !important;
}
.text-primary {
  color: #f39c12 !important;
}
.text-success {
  color: #ffd220 !important;
}
.text-info {
  color: #ffd220 !important;
}
.text-warning {
  color: #f1c40f !important;
}
.text-danger {
  color: #ffd220 !important;
}
.alert-success {
  background-color: #ffd220;
}
.alert-info {
  background-color: #ffd220;
}
.alert-warning {
  background-color: #f1c40f;
}
.alert-danger {
  background-color: #ffd220;
}
.btn-social {
  border-color: #f39c12;
}
.btn-social:hover {
  background: #f39c12;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #f39c12;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #f39c12;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f39c12;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f39c12;
}
.lead a {
  color: #f39c12;
}
.lead a:hover {
  color: #f5b043;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdedd4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fffbec;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fffbec;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fcf3d0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fffbec;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #f39c12;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
/*colorM*/
/*nav-tabs*/
.header5 .nav-tabs .nav-link:after {
  background: #f39c12;
}
.header9 .nav-tabs .nav-link.active:after {
  background: #f39c12;
  color: #222;
}
/*end-nav-tabs*/
/*mbr-arrow next and toTop*/
.mbr-arrow a,
.mbr-arrow-up a {
  background: rgba(243, 156, 18, 0.6);
  color: #000;
}
.mbr-arrow a:hover,
.mbr-arrow-up a:hover {
  background: #f4a62a;
}
/*end mbr-arrow next and toTop*/
/*features8*/
.card .card-number {
  background: #f39c12;
}
/*features14*/
.features13 .card .card-number,
.features14 .card .card-number {
  background: transparent;
}
/*features15*/
.features15 .card-block:before {
  border-color: rgba(243, 156, 18, 0.5);
}
/*features16*/
.features16 .mbr-section-subtitle:before {
  background: #f39c12;
}
/*slider elements*/
.mbr-slider .carousel-control:hover {
  background: #f39c12;
}
.mbr-slider .carousel-indicators .active {
  background: #f39c12;
}
/*gallery*/
.mbr-gallery .modal .close {
  border-color: #f39c12;
}
.mbr-gallery .modal .close:hover {
  background: #f39c12;
}
.mbr-gallery-filter li.active {
  border-color: #f39c12;
  color: #000;
}
.mbr-gallery-filter li:hover {
  background: #f5b043;
  color: #000;
}
.mbr-gallery .mbr-gallery-item:hover > div::before {
  background: rgba(243, 156, 18, 0.5);
}
.mbr-gallery .mbr-gallery-item:hover {
  background: #f39c12;
}
/*end gallery*/
/*blockquote*/
blockquote {
  border-left: 3px solid #f39c12;
}
/*content4*/
.content4 p {
  border-top-color: #f39c12;
  border-bottom-color: #f39c12;
}
/*image2, video2*/
.image1 .mbr-figure-caption,
.video1 .mbr-figure-caption,
.image2 .mbr-figure-caption,
.video2 .mbr-figure-caption {
  background-color: #f39c12;
}
/* progress bar */
.progressbar .progress-primary[value]::-webkit-progress-value {
  background-color: #f39c12;
}
.progressbar .progress-primary[value]::-moz-progress-bar {
  background-color: #f39c12;
}
.progressbar .progress-primary[value]::-ms-fill {
  background-color: #f39c12;
}
@media screen and (min-width: 0\0) {
  .progressbar .progress-primary .progress-bar {
    background-color: #f39c12;
  }
}
.progressbar .progressbar-number {
  background: #f5b043;
}
/*countdown*/
.countdown .period {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.countdown .number {
  font-family: 'Open Sans', sans-serif;
}
.countdown1 .number-wrap {
  border-color: #f39c12;
}
.countdown2 .bottom1 {
  background: #f5b043;
}
.countdown2 .bottom2 {
  background: #c87f0a;
}
/*accordion*/
.accordion .panel-heading {
  background: #f5b043;
  border-bottom: 1px solid #c87f0a;
}
.accordion .panel-heading:hover {
  background: #c87f0a;
}
.accordion .accordion-group .panel:last-child:after {
  background: #c87f0a;
}
/* news */
.news__card:hover {
  background: #f39c12;
}
/*footer*/
.footer1 .footer-list a:hover {
  color: #f39c12;
}
.shop1 .shop-item-price {
  font-family: 'Open Sans', sans-serif;
}
.shop1 .mbr-gallery-item:hover .item_overlay {
  background: #f39c12;
  opacity: 0.2;
}
.team1 .title1,
.person-info .title1,
.team1 .title2,
.person-info .title2,
.team1 .title3,
.person-info .title3,
.team1 .title4,
.person-info .title4 {
  font-family: 'Open Sans', sans-serif;
}
.team1 .subtitle1,
.person-info .subtitle1,
.team1 .subtitle2,
.person-info .subtitle2,
.team1 .subtitle3,
.person-info .subtitle3,
.team1 .subtitle4,
.person-info .subtitle4 {
  font-family: 'Open Sans', sans-serif;
}
.team1 .text1,
.person-info .text1,
.team1 .text2,
.person-info .text2,
.team1 .text3,
.person-info .text3,
.team1 .text4,
.person-info .text4 {
  font-family: 'Open Sans', sans-serif;
}
.person-info .subtitle1,
.person-info .subtitle2,
.person-info .subtitle3,
.person-info .subtitle4 {
  color: #f39c12;
}
.animated-bg1 .text {
  font-family: 'Open Sans', sans-serif;
}
.features9 .timeline-panel h4 {
  font-family: 'Open Sans', sans-serif;
}
.features9 .timeline-panel p {
  font-family: 'Open Sans', sans-serif;
}
.features9 .date-normal p {
  font-family: 'Open Sans', sans-serif;
}
.features9 .date-inverted p {
  font-family: 'Open Sans', sans-serif;
}
/*end colorM*/
#menu-2 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2 .navbar-caption {
  color: #ffffff;
}
#menu-2 .navbar-toggler {
  color: #fffec5;
}
#menu-2 .close-icon::before,
#menu-2 .close-icon::after {
  background-color: #fffec5;
}
#menu-2 .link,
#menu-2 .dropdown-item {
  color: #fffec5;
  font-family: 'Lato', sans-serif;
}
#menu-2 .link {
  font-size: 0.95rem;
}
#menu-2 .dropdown-item,
#menu-2 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-2 .link:hover,
#menu-2 .link:focus {
  color: #f39c12;
}
#menu-2 .dropdown-item:hover::before,
#menu-2 .dropdown-item:focus::before {
  background: #f39c12;
}
#menu-2 .dropdown-item:hover,
#menu-2 .dropdown-item:focus {
  color: #fffec5;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-menu {
  background: #962d22;
}
#menu-2 .nav-dropdown-sm .link:focus,
#menu-2 .nav-dropdown-sm .link:hover,
#menu-2 .nav-dropdown-sm .dropdown-item:focus,
#menu-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #b33528!important;
}
#menu-2 .navbar,
#menu-2 .nav-dropdown-sm,
#menu-2 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2 .nav-dropdown-sm .dropdown-menu {
  background: #c0392b;
}
#menu-2 .bg-color.transparent .link {
  color: #fffec5;
  transition: none;
}
#menu-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2 .bg-color.transparent.opened .link:hover,
#menu-2 .bg-color.transparent.opened .link:focus {
  color: #f39c12;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-item[aria-expanded="true"] {
  color: #f39c12!important;
}
#header2-0 .mbr-section-title,
#header2-0 .mbr-section-subtitle,
#header2-0 .btn {
  color: #fff;
}
#header2-0 .mbr-section-title {
  font-weight: 700;
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: #e67e22;
}
#header2-0 .mbr-section-subtitle {
  text-align: left;
  color: #f1c40f;
  font-size: 30px;
}
#header2-0 .mbr-section-subtitle P {
  font-family: 'Open Sans', sans-serif;
  color: #fffec5;
}
#table1-1 th {
  color: #9fa3a7;
}
#table1-1 .mbr-section-title {
  font-size: 46px;
  font-family: 'Lato', sans-serif;
  color: #f1c40f;
}
#table1-1 TD {
  color: #f1c40f;
}
#table1-1 TH {
  color: #ffd220;
  font-size: 30px;
}
#table1-1 .info,
#table1-1 .dataTables_info {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #c0392b;
  text-align: left;
}
#table1-1 B {
  font-size: 20px;
  color: #ffd220;
}
#table1-1 .dataTables_filter p,
#table1-1 .dataTables_filter label {
  text-align: left;
  color: #27ae60;
}
